@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.navegacion{
    background-color: rgb(99, 10, 41); 
    padding: 10px; 
    border-radius: 10px; 
}
.navegacion ul {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: flex; 
    justify-content: center;
}
.navegacion li {
    margin: 0 15px; 
}
.navegacion a {
    text-decoration: none; /* Eliminar subrayado */
    color: white; 
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    padding: 8px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}
.navegacion a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}